/* COLORS */
:root {
    --primary: #F7934C;
    --background: #000;
    --text-color: #eaeaea;
}
/* END COLORS */

/* GLOBALS */
html, body {
    margin: 0;
    background-color: var(--background);
}

p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: transparent;
}
/* END GLOBALS */

.page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.custom-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
}

.file-label {
    cursor: pointer;
    display: block;
    width: 40%;
    margin: auto;
    border: 2px dashed rgba(255, 255, 255, .6);
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    font-family: Arial;
    font-size: 2.2vw;
    font-weight: bold;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, .6);
    transition: all 0.5s ease-in-out;
}

.file-label:hover {
    border: 2px dashed var(--primary);
    color: var(--primary);
    backdrop-filter: blur(15px);
    transform: scale(1.1);
}

.audio-input {
    display: none;
}

.audio-title {
    margin: 1rem 0 0 5rem;
    font-family: Arial;
    font-size: 2.2vw;
    font-weight: bolder;
    color: var(--text-color);
}

.audio-player-section {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    width: 100%;
    height: auto;
    min-height: 30rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.btn {
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.2);
}

.play-btn {
    background-image: url("assets/play-icon.svg");
}

.pause-btn {
    background-image: url("assets/pause-icon.svg");
}

.song-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
}

.song-list:last-child {
    margin-bottom: 1.5rem;
}

.song-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: calc(80% - 8rem);
    height: 5rem;
    border-radius: 12px;
    padding: 0 4rem;
    background-color: rgba(255, 255, 255, .1);
}

.song-title {
    display: block;
    width: 40%;
    font-family: Arial;
    font-size: 1.8vw;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-color);
}

.song-duration {
    justify-self: flex-end;
    color: var(--text-color);
    font-family: Arial;
    font-size: 1.8vw;
    font-weight: bold;
}

/* VOLUME ELEMENTS */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
    height: 100%;
}

.vol-plus{
    background-image: url("assets/plus-icon.svg");
}
.vol-minus {
    background-image: url("assets/minus-icon.svg");
}

.player {
    display: none;
}

/* WAVE ANIMATION */
@keyframes quiet {
    25%{
        transform: scaleY(.6);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(.8);
    }
}

@keyframes normal {
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(.6);
    }
}
@keyframes loud {
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(1.2);
    }
}

.boxContainer{
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    --boxSize: .3rem;
    --gutter: .6rem;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: var(--primary);
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
}

.box1{
    animation-name: quiet;
}

.box2{
    animation-name: normal;
}

.box3{
    animation-name: quiet;
}

.box4{
    animation-name: loud;
}

.box5{
    animation-name: quiet;
}

.box6 {
    animation-name: normal;
}

.box7 {
    animation-name: quiet;
}

.hide {
    visibility: hidden;
}
